
* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
[--=-]}

footer {
    margin-top: auto;
    height: 8rem;    
    background-color: rgb(124, 120, 120);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}