.botoes {
    display: flex;
    justify-content: center;
    gap: .4rem;
}

button {
    display: flex;
    background-color: palevioletred;
    border: none;
    color: azure;
    padding: 10px 20px;
    align-items: center;
    line-height: 0;
}
button img {
 width: 2rem;
 height: 2rem;
 color: azure;
}